/* Header */
#header-home {
  background-color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 10px 0 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header .header-content {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1360px;
}

header nav a {
  color: #646464;
  padding: 10px 15px;
  text-transform: uppercase;
}

header nav a:hover {
  color: $green-three;
}

header nav a.router-link-active {
  color: $green-three;
}

header #cart {
  position: relative;
}

header span.number-products {
  background-color: darkred;
  border-radius: 50%;
  font-size: .7rem;
  color: white;
  margin-right: 2%;
  padding: 2px 5px;
  position: absolute;
  top: 15px;
  left: -15px;
}

@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1360px) {

}

@media screen and (max-width: 1024px) {
  header .header-content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 700px) {
  header nav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 10px;
  }

  header nav a:last-child {
    border-bottom: none;
  }

  header .header-content {
    display: block;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
}

/* Menu */
#logo {
  background-image: url('../../assets/img/Header/Logo_GoA_Head.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  position: relative;
  top: -15px;
  height: 80px; /* your logo here! */
  max-width: 280px;
  width: calc(100% - 50px);
}

nav {
  flex: none;
  float: right;
}

nav a {
  font-weight: 600;
  font-size: .9rem;
}

.navitem {
  color: #999;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  padding: 8px;
  text-decoration: none;
}

.navitem:first-child {
  margin-left: 0;
}

.navitem:hover {
  color: white;
}

#smartbutton {
  border: 1px solid #999;
  border-radius: 6px;
  cursor: pointer;
  display: none;
  float: right;
  height: 32px;
  margin-top: 5px;
  padding: 7px;
  width: 30px;
}

.buttonline {
  background-color: #999;
  height: 3px;
  margin-top: 4px;
}

.buttonline:first-child {
  margin-top: 0px;
}

/* standard menu */
@media only screen and (min-width: 701px) {
  #smartbutton {
    display: none;
  }

  nav {
    display: inline-block !important;
  }
}

/* smart menu */
@media only screen and (max-width: 700px) {
  #smartbutton {
    display: inline-block;
  }

  nav {
    display: none;
    position: relative;
    top: 5px;
    width: 100%;
  }

  .navitem {
    border-top: 1px solid #999;
    display: block;
    margin: 0;
  }

  .navitem:hover {
    background-color: #333;
  }
}
