.home {
  color: $color-font;

  .global-separator {
    top: -18px
  }

  .home-sub-head {
    color: white;
    width: 100%;

    .sub-head-box {
      @include div-adjust(1360px);
      background: url("../img/index/Img_1_Background.jpg") no-repeat;
      background-size: cover;

      .sub-head-content {
        background-color: rgba(0, 0, 0, 0.5);
        display: inline-block;
        width: 50%;
        padding: 60px 20px 40px 100px;

        .sub-head-products {

          img {
            margin: 0 4%;
            width: 100px;
          }
        }

        p {
          font-weight: 600;
          margin: 5% 0;
        }
      }
    }
  }

  .home-info {
    border-top: 5px solid #00EE9D;
    width: 100%;

    .info-box {
      @include div-adjust(1360px);
      background-color: #00CCC3;
      color: white;

      p:first-child {
        padding: 20px 0 5px;
        text-transform: uppercase;
      }

      p {
        font-weight: 600;
        font-size: 1.1rem;
        text-align: center;
      }

      p:nth-of-type(2) {
        padding-bottom: 20px;
      }

      .box-info-image {
        width: 100%;

        img {
          width: 33.3%;
        }
      }
    }
  }

  h2.sub-title {
    border-bottom: 4px solid #00CCC3;
    display: inline-block;
    text-transform: uppercase;
  }

  .home-about {
    background-color: #E7E7E7;
    width: 100%;

    .about-content {
      @include div-adjust(1360px);
      display: flex;

      .about-info {
        @include div-display(55%);
        padding: 40px 40px 80px 40px;

        h6 {
          text-transform: uppercase;
          margin: 5% 0;
        }
      }

      .about-image {
        @include div-display(45%);

        img {
          width: 100%;
          height: 100%;
        }
      }

    }
  }

  .home-philosophy {
    width: 100%;
    color: white;

    .philosophy-box {
      @include div-adjust(1360px);
      background: url("../img/index/Our_philosophy_img.jpg") no-repeat;
      background-size: cover;

      .philosophy-content {
        padding: 60px 0 120px;
        margin: 0 auto;
        width: 70%;

        img {
          width: 40px;
        }

        p:nth-of-type(1) {
          font-size: 1.2rem;
          font-weight: 600;
          margin: 2% 0;
          text-transform: uppercase;
        }

        p {
          font-size: 1.1rem;
        }
      }
    }
  }

  .home-mission {
    margin-top: 2%;
    width: 100%;

    .mission-box {
      background: url("../img/index/Our_mision_img.jpg") no-repeat;
      background-size: cover;
      color: white;
      padding: 80px 40px;

      .mission-content {
        margin-left: 30%;
        width: 70%;
        text-align: right;

        p {
          margin-top: 4%;
          font-size: 1.1rem;
        }
      }
    }
  }

  .home-representations {
    width: 100%;

    .representations-box {
      @include div-adjust(1360px);
      background: url("../img/index/Hojas_Back_Secc_Represetation.jpg") no-repeat;
      background-size: contain;
      padding: 60px 40px 40px;

      .representations-content {
        display: flex;
        margin: 0 auto;
        width: 90%;

        .representations-info {
          @include div-display(70%);
          padding: 0 50px;

          h2 {
            padding-bottom: 40px;
            text-transform: uppercase;
          }
        }

        .representations-image {
          @include div-display(30%);
          padding-left: 30px;

          img {
            width: 70%;
          }
        }
      }
    }
  }
}
