.products {
  .products-head {
    background-image: url("../../assets/img/Store/Cacao_head_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 15px solid $green-three;
    @include div-adjust(1360px);

    h2 {
      color: white;
      padding: 60px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .products-foot {
    @include div-adjust(1360px);
    position: relative;

    img {
      width: 100%;
    }

    img:last-child {
      position: absolute;
      right: 10%;
      top: 22%;
      width: 100px;
    }
  }

  .pagination {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 10px 10px;
    margin-top: 5%;
    width: 100%;

    .selected {
      background-color: $green-three;
      color: white;
    }

    h6 {
      cursor: pointer;
      padding: 5px 10px;
      margin: 0 0.5%;
      font-weight: bold;
    }

    .next {
      align-items: center;
      cursor: pointer;
      display: flex;

      span {
        margin: 0 2%;
      }

      img {
        transform: rotate(270deg);
      }
    }
  }

  .products-box {
    width: 100%;

    .products-content {
      @include div-adjust(1);
      display: flex;

      .product-filter {
        @include div-display(30%);
        background-color: #E7E7E7;
        height: 100%;
        padding: 20px 40px 20px 80px;

        h4 {
          margin: 10% 0 20%;
        }

        .filter-category {
          margin: 3% 0;
          cursor: pointer;

          input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin-right: 5px;
            cursor: pointer;

            /* Styling checkbox */
            width: 16px;
            height: 16px;
            background-color: white;
            border: 1px solid #898989;
            border-radius: 2px;
          }

          input[type="checkbox"]:checked {
            background-color: $green-three;
            border: none;
          }
        }
      }

      .products-all {
        @include div-display(70%);
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px 10px 10px;

        .card {
          width: 100%;
        }

        .product-item {
          display: inline-block;
          margin: 5% 2%;
          width: 21%;

          h6 {
            margin: 10% 0 8%;
          }

          a:hover {
            color: inherit;
          }

          img {
            width: 100%;
          }

          button {
            display: block;
            margin: 10% auto 0;
          }
        }

        .product-item:nth-of-type(-n+4) {
          margin-top: 0;
        }
      }
    }

  }
}
