@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

*, body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, helvetica, arial, sans-serif;
  font-size: 1rem;
  line-height: normal;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

figure {
  margin: 0;
}

ul, ol, dl {
  list-style: none;
  margin: 0;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a:active {
  color: black;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  line-height: inherit;
  margin: 0;
}

.width-reset {
  display: inline;
  width: auto !important;
}

/* Custom */
input, button, textarea {
  border: none;
  outline: none;
}

.modal-vue--content {
  padding: 5px 30px 15px;
}

.modal-vue-wrapper-show.modal-fade {
  z-index: 1000;
}

hr {
  margin: 10px 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(214, 214, 214, 0.1);
}

button.global-button {
  border: none;
  font-size: .9rem;
  font-weight: 600;
  outline: none;
  padding: 5px 10px;
}

button.global-button.green {
  background-color: #00ccc3;
  color: white;
}

button.global-button.transparent {
  background-color: transparent;
  border: 1px solid #646464;
  color: #646464;
}

button[disabled=disabled], button:disabled {
  background-color: grey !important;
  border-color: transparent !important;
  color: white;
  cursor: no-drop;
  padding: 8px !important;
}

/* Products */
.products-box {
  margin: 0 auto;
  max-width: 1360px;
  padding: 40px;
}

.products-box h2 {
  font-size: 1.8rem;
  margin-bottom: 5%;
  text-align: center;
  text-transform: uppercase;
}

.slick-product-content {
  text-align: center;
}

.slick-product-content img {
  display: block;
  margin: 0 auto;
  width: 140px;
}

/* Separator */
.global-separator {
  display: flex;
  justify-content: center;
  position: relative;
}

.global-separator .line {
  background-color: #01EE9D;
  height: 4px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.global-separator img {
  height: 30px;
  z-index: 10;
}

/* quantity box */
.info-quantity {
  margin: 4% 0 5%;
}

.info-quantity label {
  margin-right: 2%;
}

.info-quantity div {
  border: 1px solid #494949;
  display: inline-block;
  padding: 5px;
}

.info-quantity input[type=text] {
  background: white;
  text-align: center;
  width: 30px;
}

.info-quantity button {
  background: transparent;
}

/* Slick */
.slick-prev:before, .slick-next:before {
  color: black;
  font-size: 24px;
}
